.main--button {
    outline: none;
    border-radius: 6px;
    text-align: center;
    padding: 8px 10px 8px 10px;
    border: 0 solid var(--errie-black);
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.main--button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.main--button:disabled {
    cursor: not-allowed;
    color: var(--platinum);
    background-color: var(--alabaster);
}

.explore {
    width: 120px;
    height: 45px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--errie-black);
}

.signup {
    font-size: 15px;
    color: var(--white);
    background-color: var(--errie-black);
}

.login {
    font-size: 15px;
    color: var(--errie-black);
    background-color: var(--alabaster);
}

.create-account, .login-large {
    width: 350px;
    height: 45px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--errie-black);
}

.login-welcome {
    width: 250px;
    height: 45px;
    font-size: 15px;
    color: var(--white);
    border-radius: 25px;
    background-color: var(--errie-black);
}

.nav-button-small {
    width: 120px;
    border-radius: 50px;
    color: var(--errie-black);
    background: linear-gradient(90deg, hsla(52, 17%, 91%, 1) 15%, hsla(51, 11%, 87%, 1) 58%, hsla(0, 0%, 87%, 1) 100%);
}

.nav-button-small:hover {
    color: var(--white);
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.nav-button-small:active {
    border: 1px solid var(--grey);
}

.more-button {
    width: 400px;
    height: 40px;
    font-weight: bold;
    color: var(--grey);
    background-color: var(--white);
    border: 2px solid var(--platinum);
}