.left-sidebar-nav {
    width: 250px;
    position: fixed;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: var(--alabaster);
    padding-top: 25px;
    margin-left: 15px;
    margin-top: 5%;
    border-radius: 5px;
}

.sidebarClosed {
    composes: left-sidebar-nav;
    transition: width 0.3s ease-in-out;
    width: 60px;
}

.left-sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--errie-black);
    overflow: hidden;
}

.left-sidebar-item a {
    text-decoration: none;
    color: var(--errie-black);
    transition: background-color 0.3s ease;
}

.left-sidebar-item a:active {
    font-weight: bold;
}

.sidebar-item-title {
    padding-left: 16px;
}

.left-sidebar-item:hover {
    background-color: var(--hover-alabaster);
}

.arrow-icon {
    padding-left: 20px;
    cursor: pointer;
}