.modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--errie-black);
}

.modal-content {
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    background-color:var(--white);
}

.close-button {
    top: 10px;
    right: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: none;
    position: absolute;
    color: var(--grey);
}
