.title-container {
    display: flex;
    margin-top: 20px;
    line-height: 40px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.update-page-title {
    font-size: 38px;
}

.update-page-sub-text {
    padding-top: 10px;
    font-size: 14px;
}

.update-link-profile {
    font-weight: bold;
    text-decoration: none;
    color: var(--errie-black);
}

.update-link-profile:hover {
    color: var(--mikado-yellow);
}

.password-update-form-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

.password-update-form-inner-container {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.update-password-form {
    width: 50%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}
.update-form-text-container {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-bottom: 30px;
    flex-direction: column;
}

.update-password-label {
    font-weight: bold;
    padding-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.update-password-input {
    border: none;
    width: 100%;
    display: block;
    padding: 6px 8px;
    border-radius: 0;
    margin-left: -7px;
    color: var(--grey);
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid var(--platinum);
}

.error-label {
    font-size: 12px;
    margin-top: -4px;
    padding-bottom: 8px;
    color: var(--crimson);
}

.button-container {
    gap: 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.form-buttons {
    width: 80px;
    outline: none;
    border-radius: 50px;
    color: var(--errie-black);
    padding: 5px 10px 5px 10px;
    border: 0 solid var(--errie-black);
    background-color: var(--alabaster);
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.form-buttons:hover {
    cursor: pointer;
    font-weight: bold;
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: var(--hover-raisin-black);
}
