table, td, th {
    border: 1px solid var(--alabaster);
}

th {
    background-color: var(--alabaster);
    color: var(--errie-black);
    font-size: 14px;
    text-transform: uppercase;
}

td, th {
    padding: 10px;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 20px 0;
    text-align: center;
    background-color: var(--white);
}

input {
    border: none;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 42px;
}

.inventory-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    background: linear-gradient(120deg, #fdfbfb 0%, #ecebe4 100%);
    border-radius: 10px;
    padding: 40px;
}