:root {
    --errie-black: #1C1C1C;
    --platinum: #DADDD8;
    --platinum-two: #E2E2E2;
    --alabaster: #ECEBE4;
    --anti-flash-white: #EEF0F2;
    --ghost-white: #FAFAFF;
    --grey: #959595;
    --white-light-background: #F3F5F6;
    --white: #FFF;
    --hover-raisin-black: #1E1E24;
    --hover-baby-powder: #F7F9F7;
    --davys-gray: #4A4A48;
    --jet: #2D2D2A;
    --timberswolf: #D8DAD3;
    --taupe-gray: #949396;
    --silver: #C3C3C3;
    --crimson: #DC143CFF;
    --mint-green: #98DCC4;
    --mikado-yellow: #FEC601;
    --emerald: #23CE6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--errie-black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Alata, sans-serif;
    font-size: 30px;
    font-weight: 900;
}

img {
    width: 100%;
}
