:root {
    --errie-black: #1C1C1C;
    --platinum: #DADDD8;
    --alabaster: #ECEBE4;
    --anti-flash-white: #EEF0F2;
    --ghost-white: #FAFAFF;
    --grey: #959595;
    --white-light-background: #F3F5F6;
    --white: #FFFFFF;
    --hover-alabaster: #C5C3B6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--errie-black);
}

h1 {
    font-family: Alata, sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.home, .explore-gallery, .about, .login, .signup, .photo-gallery, .account-settings, .projects, .logoff, .page-not-found {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}