table, td {
    border: 1px solid var(--alabaster);
}

th {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--errie-black);
    background-color: var(--alabaster);
}

td, th {
    padding: 10px;
}

table {
    margin: 20px 0;
    max-width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: var(--white);
}

input {
    border: none;
}

.title-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 42px;
}

.admin-dashboard-overview {
    width: 100%;
    display: flex;
}

.admin-dashboard-container {
    padding: 20px;
    margin-left: 30px;
    overflow-y: hidden;
}

.admin-dashboard-inner-container {
    width: 100%;
    display: flex;
    padding: 30px;
    margin-top: 60px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
}

.total-users-container {
    display: flex;
    font-size: 14px;
    text-align: left;
    flex-direction: column;
    align-self: flex-start;
}

.table-wrapper {
    max-width: 100%;
    position: relative;
    /*overflow-x: scroll;*/
}

.users-table-head {
    color: var(--platinum);
    background-color: var(--jet);
}

.username-field {
    font-size: 14px;
    font-weight: bold;
    color: var(--davys-gray);
}

.input-field-value {
    font-size: 14px;
    border-radius: 5px;
    border-color: var(--platinum);
    font-family: "Open Sans", sans-serif;
}

.status-text {
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: var(--mint-green);
}

.authority-text {
    font-size: 12px;
}

.icon {
    cursor: pointer;
    margin-right: 10px;
    align-content: center;
}

.disabled-icon {
    opacity: 0.5;
    margin-right: 10px;
    color: var(--grey);
    pointer-events: none;
}

.page-navigation-container {
    gap: 10px;
    display: flex;
    padding-top: 15px;
}

.page-navigation-button {
    width: 80px;
    padding: 5px;
    outline: none;
    text-align: center;
    border-radius: 6px;
    border: 0 solid var(--errie-black);
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.page-navigation-button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--errie-black);
}

.page-navigation-button:disabled {
    cursor: not-allowed;
    color: var(--grey);
    background-color: var(--hover-baby-powder);
}

.admin-success-message {
    top: 50%;
    left: 50%;
    padding: 15px;
    z-index: 9999;
    position: fixed;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--errie-black);
    background-color: var(--white);
    transform: translate(-50%, -50%);
    border: 1px solid var(--errie-black);
}

.check-icon {
    font-size: 18px;
    font-weight: bold;
    color: var(--emerald);
}

.error-label {
    font-size: 12px;
    margin-top: -4px;
    padding-bottom: 8px;
    color: var(--crimson);
}
