table, td {
    border: 1px solid var(--alabaster);
}

th {
    color: var(--errie-black);
    font-size: 14px;
    text-transform: uppercase;

}

td, th {
    padding: 10px;
}

table {
    margin: 20px 0;
    text-align: center;
    border-collapse: collapse;
    background-color: var(--white);
}

input {
    border: none;
}

input[type='number']{
    width: 80px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 42px;
}

.development-log-overview {
    display: flex;
    width: 100%;
}

.development-log-container {
    padding: 20px;
    margin-left: 30px;
    overflow-y: hidden;
}

.development-log-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin-top: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, hsla(52, 17%, 91%, 1) 15%, hsla(51, 11%, 87%, 1) 58%, hsla(0, 0%, 87%, 1) 100%);
}

.total-log-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-self: flex-start;
    font-size: 14px;
}

.table-wrapper {
    max-width: 100%;
    position: relative;
    overflow-x: scroll;
}

.log-table-head {
    background-color: var(--davys-gray);
    color: var(--timberswolf);
}

.id-column {
    font-size: 14px;
    color: var(--grey);
}

.input-field-value {
    border-radius: 5px;
    border-color: var(--platinum);
    font-family: "Open Sans", sans-serif;
}

.icon {
    cursor: pointer;
    margin-right: 10px;
    align-content: center;
}

.disabled-icon {
    opacity: 0.5;
    color: var(--grey);
    pointer-events: none;
    margin-right: 10px;
}

.page-navigation-container {
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.page-navigation-button {
    width: 80px;
    padding: 5px;
    outline: none;
    text-align: center;
    border-radius: 6px;
    border: 0 solid var(--errie-black);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    font-family: "Open Sans", sans-serif;
}

.page-navigation-button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--errie-black);
}

.page-navigation-button:disabled {
    cursor: not-allowed;
    color: var(--grey);
    background-color: var(--hover-baby-powder);
}

.log-update-success-message {
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--errie-black);
    border: 1px solid var(--errie-black);
}

.check-icon {
    font-weight: bold;
    font-size: 18px;
    color: var(--emerald);
}

.error-label {
    font-size: 12px;
    padding-bottom: 8px;
    margin-top: -4px;
    color: var(--crimson);
}